sentence-transformers
streamlit
PyPDF2
langchain
langchain_community
langchain_text_splitters
langchain.docstore
langchain.prompts
langchain.chains
langchain_groq
langchain.agents
langchain.tools
langchain_community.agent_toolkits
langchain_community.llms
huggingface_hub
faiss-cpu
